<launch>

  <!-- <arg name="planner" default="ompl" /> -->
    <!-- By default, we are not in debug mode -->
  <!-- <arg name="debug" default="false" /> -->

<!--   <include file="$(find panda_moveit_config)/launch/move_group.launch">
    <arg name="planner" value="$(arg planner)" />
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="true"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
 -->
  <node name="redis_listener" pkg="kinova_planner" type="redis_communication" respawn="false" output="screen"> </node>
  <node name="move_test" pkg="kinova_planner" type="move_test" respawn="false" output="screen"> </node>


</launch>
